.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F0F1F3;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(13, 3, 3, 0.3);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link{
    position: relative;
    color: #3f4246;
}

.nav__notification{
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__alram{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display:  flex;
    position: absolute;
    left: 30px;
    bottom: 30px;
}