.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 25px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.screen-header__title{
    font-size: 22px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 25px;
}

